<h1>TacoCopter Coding Challenge</h1>

<!-- <h2>Using SQL Fiddle</h2> -->

<p>Here in Santa Barbara, we're passionate about our tacos. In fact, we get tacos catered for lunch every Wednesday. When we go out for lunch, though, we want to make sure the shop we go to has the right fillings and sauces to satisfy everyone.</p>

<p>Your mission, should you choose to accept it, is to help us by writing a Rails app that solves this conundrum.</p>

<p>To begin, clone or fork <a href="https://github.com/procore/tacocopter-sql-workshop" target="_blank">this Github repo</a> and create a database which you can seed using <code>bin/rake db:setup</code>. This will generate a database populated with data following <%= link_to 'this schema', :schema %> . Once you're up and running, implement the provided mock to satisfy our ravenous programmers.</p>

<p>Don't worry about making it look beautiful as we're going to be laser-focused on your code. We'll be looking for:</p>

<ul>
  <li>Clean, idiomatic Ruby/Rails code</li>
  <li>Test coverage</li>
  <li>Sane database queries</li>
</ul>

<%= image_tag 'tacocopter_ui_example.png'%>
