<h1>Tacocopter SQL Training</h1>

<ul>
  <li><%= link_to "Connecting", connecting_path %></li>
  <li><%= link_to "Schema", schema_path %></li>
  <li><%= link_to "Questions", questions_path %></li>
</ul>
