<h1>Connecting</h1>

<h2>Using SQL Fiddle</h2>

<p>In a new tab, visit <a href='http://sqlfiddle.com'>http://sqlfiddle.com</a></p>

<p>Switch to Postgres 9.3:</p>
<%= image_tag 'switch_to_postgres.png' %>

<p>
In a new tab open <a href="https://raw.githubusercontent.com/bradurani/tacocopter-sql-workshop/master/db/tacocopter.sql"/>https://raw.githubusercontent.com/bradurani/tacocopter-sql-workshop/master/db/tacocopter.sql</a>
</p>

<p>Select the entire contents of this file, copy it and paste it into the schema panel in SQL Fiddle:</p>
<%= image_tag 'paste_sql.png'%>
<p>
press the 'Build Schema' button. You should see a <code>schema ready</code> message. You are now ready to start writting SQL in the "Run SQL" pane.</p>
<br/>
<hr/>
<br/>
