<h1>Connecting</h1>

<h2>Using pgAdmin</h2>

<%= image_tag 'new_pg_admin.png', style: 'width: 500px;' %>
<br/>
<br/>
<p>Scroll down to database doj4h4bhvjcg9</p><br/>
<%= image_tag 'connect_pg_admin.png', style: 'width: 500px;' %>
<br/>
<hr/>
<br/>
<h2>Using SQL Fiddle</h2>

<p>In a new tab, visit <a href='http://sqlfiddle.com'>http://sqlfiddle.com</a></p>

<p>Switch to Postgres 9.3:</p>
<%= image_tag 'switch_to_postgres.png' %>

<p>
In a new tab open <a href="https://raw.githubusercontent.com/bradurani/tacocopter-sql-workshop/master/db/tacocopter.sql"/>https://raw.githubusercontent.com/bradurani/tacocopter-sql-workshop/master/db/tacocopter.sql</a>
</p>

<p>Select the entire contents of this file, copy it and paste it into the schema panel in SQL Fiddle:</p>
<%= image_tag 'paste_sql.png'%>
<p>
press the 'Build Schema' button. You should see a <code>schema ready</code> message. You are now ready to start writting SQL in the "Run SQL" pane.</p>
<br/>
<hr/>
<br/>
<h3>Using psql</h3>
<p>While in the UDE terminal, run:</p>
<code>
mkdir ~/tacocopter<br/>
cd ~/tacocopter<br/>
touch test.sql<br/>
psql postgres://ydxmmkmfuwlvre:password-goes-here@ec2-54-83-58-191.compute-1.amazonaws.com:5432/doj4h4bhvjcg9
</code><br/>
<p>Open the <code>test.sql</code> file in your favorite code editor. Add the line:</p>
<code>SELECT * FROM stores;</code>
<p>Don't forget the semi-colon</p>
<p>Switch back to the psql terminal and enter:</p>
<code>\i test.sql</code>
<p>Your query should run!</p>
